@page "/authentication"
@using DakiShop.Logic
@using DakiShop.Models
@using RaportBlazorServer.Logic
@inject Blazored.LocalStorage.ILocalStorageService session;

@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager



<PageTitle>Auth</PageTitle>


<div class="user">
    <header class="user__header">
        <h1 class="user__title" style="color:black;">@(isRegistration? "Registration" : "Log In Account")</h1>
    </header>
    
    <form class="form">
        <div class="form__group" style="background-color:red">
            <input type="text" @bind-value="login" placeholder="Username" class="form__input" />
        </div>
        @if (isRegistration) {
            <div class="form__group">
                <input type="email" @bind-value="email" placeholder="Email" class="form__input" />
            </div>
        }
        
        <div class="form__group">
            <input type="password" @bind-value="pass" placeholder="Password" class="form__input" />
        </div>

        @if (isRegistration) {
            <div class="form__group">
                <input type="password" @bind-value="passRepeat" placeholder="Repeat Password" class="form__input" />
            </div>
        }
        <button class="btnA" @onclick="RegisterNewUser" type="button">@(isRegistration? "Register" : "LogIn")</button>
       
    </form>
        <div class=@regStyle>
         <a >@registrationErrorText</a>
        </div>
    <form class="form">
        <button class="btnA" @onclick="ChangeLogIn" type="button">@(isRegistration? "Already have an account?" : "Do not have account yet?")</button>
    </form>

</div>

@code{
    bool isRegistration = false;
    string pass = string.Empty;
    string passRepeat = string.Empty;
    string login = string.Empty;
    string email = string.Empty;
    string registrationErrorText = string.Empty;

    string regStyle = "error-auth-text";
    private void ChangeLogIn()
    {
        isRegistration = !isRegistration;
        pass = string.Empty;
        passRepeat = string.Empty;
        login = string.Empty;
        email = string.Empty;
        registrationErrorText = string.Empty;
    }

    private bool UserValidation()
    {
        var responce = isRegistration ? Validation.ValidateRegistration(login, email, pass, passRepeat) : Validation.ValidateLogIn(login, pass);
        registrationErrorText = responce.Item2;
        regStyle = responce.Item1 ? "error-auth-text-nice" : "error-auth-text";
        if (!responce.Item1)
            return false;

        return true;
    }

    private async void RegisterNewUser()
    {
        if (UserValidation())
        {
            if(isRegistration)
                DBService.AddNewUser(login, email, pass);

            SaveSession();

            await btn_clicked.InvokeAsync();
            NavManager.NavigateTo("/",true);
        }
    }

    [CascadingParameter]
    public EventCallback btn_clicked { get; set; }


    public async void SaveSession()
    {
        await session.SetItemAsync("name", StringCipher.Encrypt(login, "name"));
       

        StateHasChanged();
    }
}