

   <div class="text-white p-2" style=" border: 2px outset #00A700; background-color:#68c15a;border-radius: 10px; animation: ease-in-out 0.3s forwards; display:flex">
       <svg style="margin-top:5px;fill:white; margin-left:20px;margin-right:20px;" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M20.303 4.846l.882.882-12.22 12.452-6.115-5.93.902-.902 5.303 5.028 11.248-11.53zm-.018-2.846l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285-3.715-3.715z"/></svg>
       <h3 style="margin-top:10px; font-size:30px; font-family:'Circe-B';" >@Title</h3>
   </div>



@code{
    [Parameter] public string Title { get; set; }
}